<h1>Welcome#Sample</h1>
<p>Find me in app/views/welcome/Sample.html.erb</p>

<%= "Message from controller" %>
<%= @controller %>

<%= link_to("Link to index",
		{controller: 'welcome',
		action: 'index',
		id: 5,
		random: "Sai"}) %>